<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="../../contents/js/vue.js"></script>
</head>

<body>
  <div id="app">
    <h2 v-if="false">{{message}}</h2>
    <h2 v-if="isShow">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
    </h2>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
          message:"こんにちは",
          isShow:true
      }
    });
  </script>
</body>

</html>