<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="..\..\contents\js\vue.js"></script>
</head>

<body>
  <div id="app">
    <h2>{{message}}</h2>
    <h2>{{firstname +" "+lastname}}</h2>
    <h2>{{firstname}} {{lastname}}</h2>
    <h2>{{age * 2}}</h2>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        message:"こんにちは",
        firstname:"fan",
        lastname:"jurui",
        age:20
      }
     
    });
  </script>
</body>

</html>