<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="../../contents/js/vue.js"></script>
</head>

<body>
  <div id="app">
    {{counter}}
    <button v-on:click="increment">+</button>
    <button v-on:click="decrement">-</button>
    <button @click="decrement">-</button>
    <!-- 事件监听且没有参数的情况下不用添() -->
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
          counter:0
      },
      methods:{
        increment(){
          this.counter++;
        },
        decrement(){
          this.counter--;
        }
      }
    });
  </script>
</body>

</html>