<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>02-·vue列表</title>
    </head>
    <body>
        <div id="app">
            <h2>当前计数:{{counter}}</h2>
            <!-- <button v-on:click="counter++">+</button>
            <button v-on:click="counter--">-</button> -->
            <button v-on:click="plus">+</button>
            <button @click="minus">-</button>
        </div>
        <script src="..\..\contents\js\vue.js"></script>
        <script>
            const app = new Vue({
                el:'#app',
                data:{
                   counter:0
                },
                methods:{
                    plus:function(){
                        this.counter++
                    },
                    minus:function(){
                        this.counter--
                    }
                }
            })
        </script>
    </body>
</html>