<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="../../contents/js/vue.js"></script>
</head>

<body>
  <div id="app">
    <cpn>
      <template v-slot:header>
        <button>header button</button>
      </template>
      <template v-slot:footer>
        <button>footer button</button>
      </template>
    </cpn>
  </div>
<template id="cpn">
  <div class="container">
    <header>
      <slot name="header"></slot>
    </header>
    <main>
      <slot></slot>
    </main>
    <footer>
      <slot name="footer"></slot>
    </footer>
</template>
  <script>
    const comcpn = {
      template:"#cpn"
    }
    //slot 比如每次显示组件的一部分内容会变化，组件具有扩展性使用插槽
    var vm = new Vue({
      el: '#app',
      data: {
          message:"こんにちは，"
      },
      components:{
        cpn:comcpn
      }
    });
  </script>
</body>

</html>