<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="../../contents/js/vue.js"></script>
</head>

<body>
  <div id="app">
    {{fullName}}<!-- 调用的是属性所以没有() -->
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        firstname:"FAN",
        lastname:"Jalyn"
      },
      computed:{
        fullName:{
          set:function(){
            console.log("set.....")
          },//setter不常用一般省略
          get:function(){
            return this.firstname + ' ' + this.lastname
          }

        }//fullname是一个属性
      }
    });
  </script>
</body>

</html>